<mat-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">

        <mat-card-title> 
          {{ title }} Student <i class="fas fa-user ml-1"></i>
        </mat-card-title>
        <mat-card-subtitle>Presence Learning</mat-card-subtitle>

        <mat-card-content>
          <form #form="ngForm">

            <mat-form-field appearance="fill" class="form-group">
              <mat-label for="name">Student Name</mat-label>
              <input matInput id="name" name="name" [ngModel]="studentData.name">
            </mat-form-field>

            <section class="form-group">
              <mat-card-subtitle>Student Therapies</mat-card-subtitle>

              <mat-checkbox class="example-margin" name="speechTherapy" 
                [ngModel]="studentData.speechTherapy">
                Speech
              </mat-checkbox>
              <mat-checkbox class="example-margin" name="ocupationalTherapy" 
                [ngModel]="studentData.ocupationalTherapy">
                Ocupational
              </mat-checkbox>
              <mat-checkbox class="example-margin" name="behavioralTherapy" 
                [ngModel]="studentData.behavioralTherapy">
                Behavioral
              </mat-checkbox>
            </section>


            <mat-card-actions class="form-group">
              <button mat-raised-button color="primary" (click)="saveChanges(form.value)">
                SAVE
              </button>
              <button mat-raised-button color="warn" (click)="discardChanges(form.value)">
                DISCARD
              </button>
            </mat-card-actions>

          </form>
        </mat-card-content>

      </div>
    </div>
  </div>
</mat-card>